@font-face {
    font-family: SST;
    src: url(../../assets/SSTLight.TTF);
    font-weight: 400;
}

@font-face {
    font-family: SST;
    src: url(../../assets/SSTRg.TTF);
    font-weight: 500;
}

@font-face {
    font-family: SST;
    src: url(../../assets/SSTBold.TTF);
    font-weight: bold;
}

@font-face {
    font-family: Mussels;
    src: url(../../assets/TT-Mussels-Medium.otf);
    font-weight: 400;
}

@font-face {
    font-family: Mussels;
    src: url(../../assets/TT-Mussels-Medium-Italic.otf);
    font-style: italic;
}