@use 'variaveis';

.hero {
    padding: 5.6vw;
    display: flex;
    justify-content: start;
    background-image: url('../../dist/images/hero_background_image_desktop.png');
    background-size: cover;
    box-shadow: inset 0 0 100px (black);

    @media (max-width: 1023px) {
        background-position: center;
    }

    @media (max-width: 768px) {
        background-image: url(../../dist/images/hero_background_image_mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
    }
    
    &__content {
        padding: 5.6vw;
        margin-left: 5.6vw;
        text-align: center;

        @media (max-width: 768px) {
            padding: 0;
            margin: 0;
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            margin-bottom: 16px;
        }

        p {
            color: #fff;
            line-height: 2em;
            margin-bottom: 8px;
        }

        span {
            font-size: 11px;
            font-weight: bold;
            border: 1px solid #fff;
            padding: 4px;
            margin-left: 4px;
        }

        button {
            margin-bottom: 8px;
        }


        &__branding {
            img {
                height: 160px;

                @media (max-width: 768px) {
                    height: 110px;
                }
            }
        }
    }
}